/*---------Colores-------*/
*{padding: 0; margin: 0;}
:root{
    --azul-soc: #015694;
    --verde-soc: #4aa84f;
    --boton: #f1f2f7;
    --boton-seccecionado:#d8f5fd;
    --texto-color: #40516f;
}
body{
    font-family: 'Open Sans';
    text-align: center;
    color: var(--texto-color);
}
.container{
    margin-top: 32px;
}
.row{
    margin-bottom: 35px;
}
.titulo-texto{
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 48px;
    margin-top: 18px !important;
}
.header-text{
    height: 90px;
    margin-bottom: 45px;
    background-color: var(--azul-soc);
    /*-position: fixed;
    top: 0;-*/
}
h2{
    color: var(--azul-soc);
    text-align: center;
    font-size: 24px !important;
    margin-bottom: 22px !important;
}
.btn-siguiente{
    background-color: var(--boton) !important;
    border-color: none !important;
    width: 200px;
   /*- margin-right: 45px -*/
}
.btn-siguiente:hover{
    background-color: var(--verde-soc) !important;
    border-color: var(--verde-soc) !important;
    color: white !important;
}
.btn-siguiente-texto{
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}
.btn-siguiente-texto:hover{
    color: white;
    text-decoration: none;
}
.btn-siguiente:active{
    background-color: var(--verde-soc) !important;
    border-color: var(--verde-soc) !important;
}
.boton-aling{
    margin-bottom: 18px;
}
.animacion-boton{
    --bs-btn-color: var(--azul-soc) !important;
    --bs-btn-border-color: none !important;
    background-color: #f1f2f7 !important;
    --bs-btn-border-color: #f1f1f1 !important;
    --bs-btn-hover-bg: var(--boton-seccecionado) !important;
    --bs-btn-hover-border-color: var(--boton-seccecionado) !important;
    --bs-btn-active-bg: var(--boton-seccecionado) !important;
    --bs-btn-active-border-color: var(--boton-seccecionado) !important;
    --bs-btn-active-color: var(--azul-soc) !important;
    font-size: 12px !important;
    /*--width:230px;--*/
}
.animacion-boton:active{
    background-color: var(--boton-seccecionado);
}
.animacion-boton:hover{
    background-color: var(--boton-seccecionado);
    color: black !important;
    border-color: var(--azul-soc) !important;
}
.color-boton{
    width: 50% !important;
    margin: auto;
    background-color: var(--boton) !important;
    border-color: white !important;
}
.boton-credito{
    width: 300px;
    margin: none !important;
}

/*------estilos en tipo de persona------*/
.btn-regresar{
    text-decoration: none;
    color: var(--azul-soc);
    font-weight: 200;
    font-size: 16px;
    margin-top: 7px;
    margin-right: 7px;
}
/*-----Vista mobile y desktop----*/
#vista-mobile{
    display: none;
    margin-bottom: 25px;
}
.seleccion-mobile{
    margin: 0 !important;
    padding: 0 !important;
}

.form-check-input:checked{
    background-color: var(--boton-seccecionado) !important;
    border-color: var(--boton-seccecionado) !important;
}
.form-check-label{
    color: var(--azul-soc);
}
.form-control{
    color: var(--azul-soc) !important;
}
.form-select{
    color: var(--azul-soc) !important;
}
/*-----------------MQ-----------------*/
@media  (max-width: 400px){
    h1{
        font-size: 22px !important;
    }
    .container-fluid{
        margin-bottom: 28px;
    }
    .header-text{
        height: 60px;
    }
    h2{
        text-align: start;
    }
    .color-boton{
        width: 100% !important;
        margin: 0px !important;
    }
    .boton-aling{
        text-align: start;
    }
    .boton-credito{
        width: 100px;
        margin: none !important;
    }
    #vista-mobile{
        display:contents;
        margin-bottom: 25px;
    }
    #vista-desktop{
        display: none;
    }
    .btn-regresar{
        margin-left: 15px;
    }
}


@media (max-width: 576px) { 
    h1{
        font-size: 22px !important;
    }
    h2{
        text-align: start;
    }
    .boton-credito{
        width: 200px;
        margin: none !important;
    }
    .color-boton{
        width: 100% !important;
        margin: 0px !important;
    }
    #vista-mobile{
        display:contents;
        margin-bottom: 25px;
    }
    #vista-desktop{
        display: none;
    }
    .btn-regresar{
        margin-left: 15px;
    }
}

@media (max-width: 768px) { 
    .boton-credito{
        width: 180px;
        margin: none !important;
    }
    #vista-mobile{
        display:contents;
        margin-bottom: 25px;
    }
    #vista-desktop{
        display: none;
    }
}

@media (max-width: 992px) {
    .boton-credito{
        width: 200px;
        margin: none !important;
    }
}

@media (min-width: 1200px) { 
.boton-credito{
    width: 300px;
    margin: none !important;
}
}